{% extends 'base.html.twig' %}

{% block title %}HomePage{% endblock %}


{% block body %}
<section class="banner-area pb--40">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="quick-links">
                    <span>Go Quick To</span>
                    <a href="">Trending Grocery ,</a>
                    <a href="">Exotics ,</a>
                    <a href="">Herbs ,</a>
                    <a href="">Atta ,</a>
                    <a href="">Olive Oils ,</a>
                    <a href="">Salt ,</a>
                    <a href="">Sugar &amp; Spices ,</a>
                    <a href="">Juices Gift Packs ,</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="banner-slide-wrapper">
                    <div class="row">
                        <div class="col-lg-3">
                            <!-- Category Nav Start -->
                            <div class="category-nav category-nav--3">
                                <h2 class="category-nav__title" id="js-cat-nav-title"><i class="fa fa-bars"></i> <span>Categories</span></h2>
                                    <ul class="category-nav__menu hide-in-default-md" id="js-cat-nav">
                                    <li class="category-nav__menu__item has-children">
                                    <a href="shop.html">cosmetic</a>
                                    <div class="category-nav__submenu">
                                        <div class="category-nav__submenu--inner">
                                            {% set category = {'name':"Cameras"} %}
                                            {{ tree|raw }}

{% endblock %}