{% extends 'base.html.twig' %}

{% block title %}HomePage{% endblock %}


{% block body %}

{% include 'categoryBaner/index.html.twig' %}
</div>
<div class="col-lg-9">
    <!-- Slider area Start -->
    <div class="slider-wrapper slider-wrapper--3 owl-carousel" id="homepage-slider">
        <!-- Single Slider Start -->
        <div class="single-slider" style="background-image: url('assets/img/banner-5.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-md-11">
                        <div class="slider-content slider-content--2">
                            <h1 class="heading-primary heading-primary--2" data-animation="fadeInUp" data-delay=".2s" data-duration="1s">BAG FULL OF GROCERY PRODUCTS</h1>
                            <p class="slider-content__text" data-animation="fadeInLeft" data-delay=".4s" data-duration="1.2s">FROZEN &amp; CHILLED FOOD PRODUCTS FRESH FRUIT &amp; VEGETABLES</p>
                            <a href="shop.html" class="btn slider-btn btn-style-6" data-animation="fadeInDown" data-delay=".5s" data-duration="1.4s">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single Slider End -->

        <!-- Single Slider Start -->
        <div class="single-slider" style="background-image: url('assets/img/banner-6.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-md-11">
                        <div class="slider-content slider-content--2">
                            <h1 class="heading-primary heading-primary--2" data-animation="fadeInUp" data-delay=".2s" data-duration="1s">BAG FULL OF GROCERY PRODUCTS</h1>
                            <p class="slider-content__text" data-animation="fadeInLeft" data-delay=".4s" data-duration="1.2s">FROZEN &amp; CHILLED FOOD PRODUCTS FRESH FRUIT &amp; VEGETABLES</p>
                            <a href="shop.html" class="btn slider-btn btn-style-6" data-animation="fadeInDown" data-delay=".5s" data-duration="1.4s">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single Slider End -->
    </div>
    <!-- Slider area End -->
</div>
</div>
</div>
</div>
</div>
</div>
</section>

<!-- Banner area End -->

<!-- Banner Box area Start -->
<div class="banner-box-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-sm--30">
                <div class="banner-box">
                    <a href="index-3.html#">
                        <img src="assets/img/1_3.jpg" alt="promo">
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="banner-box">
                    <a href="index-3.html#">
                        <img src="assets/img/2_3.jpg" alt="promo">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Box area End -->

<!-- Tanding Product area Start  -->

<section class="tranding-product-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title section-title--2">
                    <h2>Hot Deals</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="trending-product__carousel trending-product__carousel--3 owl-carousel" id="tanding-product-2">

                    <!-- Tranding Product box Start -->
                    <div class="product-box variable-product product-box--3">
                        <div class="product-box__meta">
                            <a href="shop.html" class="product-box__category">manufacturer</a>
                            <span class="product-box__sticker product-box__sticker--discount">-5%</span>
                        </div>
                        <div class="product-box__image">
                            <img src="assets/img/printed-summer-dress-14.jpg" alt="product image" class="primary_image">
                            <img src="assets/img/printed-summer-dress-13.jpg" alt="product image" class="secondary_image">
                            <a href="" data-toggle="modal" data-target="#productModal" class="quick-view"> <i class="fa fa-eye"></i> </a>
                        </div>
                        <div class="product-box__footer">
                            <div class="product-box__desc">
                                <a href="single-product.html" class="product-box__title">Printed Summer Dress</a>
                                <p class="product-box__price">
                                    <span class="sale-price">&dollar;17.43</span>
                                    <span class="regular-price">&dollar;20.50</span>
                                </p>
                            </div>
                            <div class="product-box__links">
                                <a href="cart.html" class="btn add-to-cart btn-style-7">Add to cart</a>
                            </div>
                        </div>
                        <div class="product-box__countdown">
                            <div class="product-countdown" data-countdown="2020/05/01">
                            </div>
                        </div>
                    </div>
                    <!-- Tranding Product box End -->

                    <!-- Tranding Product box Start -->
                    <div class="product-box variable-product product-box--3">
                        <div class="product-box__meta">
                            <a href="shop.html" class="product-box__category">manufacturer</a>
                            <span class="product-box__sticker product-box__sticker--discount">-5%</span>
                        </div>
                        <div class="product-box__image">
                            <img src="assets/img/printed-summer-dress-16.jpg" alt="product image" class="primary_image">
                            <img src="assets/img/printed-summer-dress-15.jpg" alt="product image" class="secondary_image">
                            <a href="" data-toggle="modal" data-target="#productModal" class="quick-view"> <i class="fa fa-eye"></i> </a>
                        </div>
                        <div class="product-box__footer">
                            <div class="product-box__desc">
                                <a href="single-product.html" class="product-box__title">Printed Summer Dress</a>
                                <p class="product-box__price">
                                    <span class="sale-price">&dollar;17.43</span>
                                    <span class="regular-price">&dollar;20.50</span>
                                </p>
                            </div>
                            <div class="product-box__links">
                                <a href="cart.html" class="btn add-to-cart btn-style-7">Add to cart</a>
                            </div>
                        </div>
                        <div class="product-box__countdown">
                            <div class="product-countdown" data-countdown="2020/05/01">
                            </div>
                        </div>
                    </div>
                    <!-- Tranding Product box End -->

                    <!-- Tranding Product box Start -->
                    <div class="product-box variable-product product-box--3">
                        <div class="product-box__meta">
                            <a href="shop.html" class="product-box__category">manufacturer</a>
                            <span class="product-box__sticker product-box__sticker--discount">-5%</span>
                        </div>
                        <div class="product-box__image">
                            <img src="assets/img/printed-chiffon-dress-3.jpg" alt="product image" class="primary_image">
                            <img src="assets/img/printed-chiffon-dress-4.jpg" alt="product image" class="secondary_image">
                            <a href="" data-toggle="modal" data-target="#productModal" class="quick-view"> <i class="fa fa-eye"></i> </a>
                        </div>
                        <div class="product-box__footer">
                            <div class="product-box__desc">
                                <a href="single-product.html" class="product-box__title">Printed Summer Dress</a>
                                <p class="product-box__price">
                                    <span class="sale-price">&dollar;17.43</span>
                                    <span class="regular-price">&dollar;20.50</span>
                                </p>
                            </div>
                            <div class="product-box__links">
                                <a href="cart.html" class="btn add-to-cart btn-style-7">Add to cart</a>
                            </div>
                        </div>
                        <div class="product-box__countdown">
                            <div class="product-countdown" data-countdown="2020/05/01">
                            </div>
                        </div>
                    </div>
                    <!-- Tranding Product box End -->

                    <!-- Tranding Product box Start -->
                    <div class="product-box variable-product product-box--3">
                        <div class="product-box__meta">
                            <a href="shop.html" class="product-box__category">manufacturer</a>
                            <span class="product-box__sticker product-box__sticker--discount">-5%</span>
                        </div>
                        <div class="product-box__image">
                            <img src="assets/img/printed-chiffon-dress-4.jpg" alt="product image" class="primary_image">
                            <img src="assets/img/printed-chiffon-dress-5.jpg" alt="product image" class="secondary_image">
                            <a href="" data-toggle="modal" data-target="#productModal" class="quick-view"> <i class="fa fa-eye"></i> </a>
                        </div>
                        <div class="product-box__footer">
                            <div class="product-box__desc">
                                <a href="single-product.html" class="product-box__title">Printed Summer Dress</a>
                                <p class="product-box__price">
                                    <span class="sale-price">&dollar;17.43</span>
                                    <span class="regular-price">&dollar;20.50</span>
                                </p>
                            </div>
                            <div class="product-box__links">
                                <a href="cart.html" class="btn add-to-cart btn-style-7">Add to cart</a>
                            </div>
                        </div>
                        <div class="product-box__countdown">
                            <div class="product-countdown" data-countdown="2020/05/01">
                            </div>
                        </div>
                    </div>
                    <!-- Tranding Product box End -->

                </div>
            </div>
        </div>
    </div>
</section>

<!-- Tanding Product area End  -->

<!-- Banner Box area Start -->
<div class="banner-box-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="banner-box">
                    <a href="index-3.html#">
                        <img src="assets/img/3_3.jpg" alt="promo">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Box area End -->


<!-- Combine Product area Start -->
<section class="combine-product-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 order-lg-1 order-2">
                <div class="row mb--40">
                    <div class="col-12">
                        <div class="produtct-combo-tab produtct-combo-tab--2 content-bg--gray">
                            <div class="nav nav-tabs produtct-combo-tab__head" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link produtct-combo-tab__link active" id="new-tab" data-toggle="tab" href="index-3.html#new" role="tab" aria-controls="new" aria-selected="true">
                                    New Arrival
                                </a>
                                <a class="nav-item nav-link produtct-combo-tab__link" id="best-seller-tab" data-toggle="tab" href="index-3.html#best-seller" role="tab" aria-controls="best-seller" aria-selected="false">   Best Seller
                                </a>
                            </div>
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane produtct-combo-tab__pane fade show active" id="new" role="tabpanel" aria-labelledby="new-tab">
                                    <div class="best-seller-product__carousel best-seller-product__carousel--3 owl-carousel js-best-seller-carousel">
                                        <div class="best-seller-product__group">
                                            <!-- Best Seller Product Box Horizontal Start -->
                                            <div class="product-box product-box--3 variable-product product-box--horizontal">
                                                <div class="product-box__left">
                                                    <div class="product-box__image">
                                                        <img src="assets/img/printed-summer-dress.jpg" alt="product image" class="primary_image">
                                                        <img src="assets/img/printed-summer-dress-1.jpg" alt="product image" class="secondary_image">
                                                        <a href="" data-toggle="modal" data-target="#productModal" class="quick-view"> <i class="fa fa-eye"></i> </a>
                                                    </div>
                                                </div>
                                                <div class="product-box__right">
                                                    <div class="product-box__desc">
                                                        <a href="shop.html" class="product-box__category">manufacturer</a>
                                                        <a href="single-product.html" class="product-box__title">Printed Summer Dress</a>
                                                        <p class="product-box__price">
                                                            <span class="sale-price">&dollar;17.43</span>
                                                        </p>
                                                        <a href="cart.html" class="btn add-to-cart btn-style-7">Add to cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Best Seller Product Box Horizontal End -->

                                            <!-- Best Seller Product Box Horizontal Start -->
                                            <div class="product-box product-box--3 variable-product product-box--horizontal">
                                                <div class="product-box__left">
                                                    <div class="product-box__image">
                                                        <img src="assets/img/printed-summer-dress-2.jpg" alt="product image" class="primary_image">
                                                        <img src="assets/img/printed-summer-dress-3.jpg" alt="product image" class="secondary_image">
                                                        <a href="" data-toggle="modal" data-target="#productModal" class="quick-view"> <i class="fa fa-eye"></i> </a>
                                                    </div>
                                                </div>
                                                <div class="product-box__right">
                                                    <div class="product-box__desc">
                                                        <a href="shop.html" class="product-box__category">manufacturer</a>
                                                        <a href="single-product.html" class="product-box__title">Printed Summer Dress</a>
                                                        <p class="product-box__price">
                                                            <span class="sale-price">&dollar;17.43</span>
                                                        </p>
                                                        <a href="cart.html" class="btn add-to-cart btn-style-7">Add to cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Best Seller Product Box Horizontal End -->

                                            <!-- Best Seller Product Box Horizontal Start -->
                                            <div class="product-box product-box--3 variable-product product-box--horizontal">
                                                <div class="product-box__left">
                                                    <div class="product-box__image">
                                                        <img src="assets/img/printed-summer-dress-4.jpg" alt="product image" class="primary_image">
                                                        <img src="assets/img/printed-summer-dress-5.jpg" alt="product image" class="secondary_image">
                                                        <a href="" data-toggle="modal" data-target="#productModal" class="quick-view"> <i class="fa fa-eye"></i> </a>
                                                    </div>
                                                </div>
                                                <div class="product-box__right">
                                                    <div class="product-box__desc">
                                                        <a href="shop.html" class="product-box__category">manufacturer</a>
                                                        <a href="single-product.html" class="product-box__title">Printed Summer Dress</a>
                                                        <p class="product-box__price">
                                                            <span class="sale-price">&dollar;17.43</span>
                                                        </p>
                                                        <a href="cart.html" class="btn add-to-cart btn-style-7">Add to cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Best Seller Product Box Horizontal End -->

                                        </div>
                                        <div class="best-seller-product__group">
                                            <!-- Best Seller Product Box Horizontal Start -->
                                            <div class="product-box product-box--3 variable-product product-box--horizontal">
                                                <div class="product-box__left">
                                                    <div class="product-box__image">
                                                        <img src="assets/img/printed-summer-dress-6.jpg" alt="product image" class="primary_image">
                                                        <img src="assets/img/printed-summer-dress-7.jpg" alt="product image" class="secondary_image">
                                                        <a href="" data-toggle="modal" data-target="#productModal" class="quick-view"> <i class="fa fa-eye"></i> </a>
                                                    </div>
                                                </div>
                                                <div class="product-box__right">
                                                    <div class="product-box__desc">
                                                        <a href="shop.html" class="product-box__category">manufacturer</a>
                                                        <a href="single-product.html" class="product-box__title">Printed Summer Dress</a>
                                                        <p class="product-box__price">
                                                            <span class="sale-price">&dollar;17.43</span>
                                                        </p>
                                                        <a href="cart.html" class="btn add-to-cart btn-style-7">Add to cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Best Seller Product Box Horizontal End -->

                                            <!-- Best Seller Product Box Horizontal Start -->
                                            <div class="product-box product-box--3 variable-product product-box--horizontal">
                                                <div class="product-box__left">
                                                    <div class="product-box__image">
                                                        <img src="assets/img/printed-summer-dress-7.jpg" alt="product image" class="primary_image">
                                                        <img src="assets/img/printed-summer-dress-8.jpg" alt="product image" class="secondary_image">
                                                        <a href="" data-toggle="modal" data-target="#productModal" class="quick-view"> <i class="fa fa-eye"></i> </a>
                                                    </div>
                                                </div>
                                                <div class="product-box__right">
                                                    <div class="product-box__desc">
                                                        <a href="shop.html" class="product-box__category">manufacturer</a>
                                                        <a href="single-product.html" class="product-box__title">Printed Summer Dress</a>
                                                        <p class="product-box__price">
                                                            <span class="sale-price">&dollar;17.43</span>
                                                        </p>
                                                        <a href="cart.html" class="btn add-to-cart btn-style-7">Add to cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Best Seller Product Box Horizontal End -->

                                            <!-- Best Seller Product Box Horizontal Start -->
                                            <div class="product-box product-box--3 variable-product product-box--horizontal">
                                                <div class="product-box__left">
                                                    <div class="product-box__image">
                                                        <img src="assets/img/printed-summer-dress-9.jpg" alt="product image" class="primary_image">
                                                        <img src="assets/img/printed-summer-dress-10.jpg" alt="product image" class="secondary_image">
                                                        <a href="" data-toggle="modal" data-target="#productModal" class="quick-view"> <i class="fa fa-eye"></i> </a>
                                                    </div>
                                                </div>
                                                <div class="product-box__right">
                                                    <div class="product-box__desc">
                                                        <a href="shop.html" class="product-box__category">manufacturer</a>
                                                        <a href="single-product.html" class="product-box__title">Printed Summer Dress</a>
                                                        <p class="product-box__price">
                                                            <span class="sale-price">&dollar;17.43</span>
                                                        </p>
                                                        <a href="cart.html" class="btn add-to-cart btn-style-7">Add to cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Best Seller Product Box Horizontal End -->

                                        </div>
                                        <div class="best-seller-product__group">
                                            <!-- Best Seller Product Box Horizontal Start -->
                                            <div class="product-box product-box--3 variable-product product-box--horizontal">
                                                <div class="product-box__left">
                                                    <div class="product-box__image">
                                                        <img src="assets/img/printed-summer-dress-11.jpg" alt="product image" class="primary_image">
                                                        <img src="assets/img/printed-summer-dress-12.jpg" alt="product image" class="secondary_image">
                                                        <a href="" data-toggle="modal" data-target="#productModal" class="quick-view"> <i class="fa fa-eye"></i> </a>
                                                    </div>
                                                </div>
                                                <div class="product-box__right">
                                                    <div class="product-box__desc">
                                                        <a href="shop.html" class="product-box__category">manufacturer</a>
                                                        <a href="single-product.html" class="product-box__title">Printed Summer Dress</a>
                                                        <p class="product-box__price">
                                                            <span class="sale-price">&dollar;17.43</span>
                                                        </p>
                                                        <a href="cart.html" class="btn add-to-cart btn-style-7">Add to cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Best Seller Product Box Horizontal End -->

                                            <!-- Best Seller Product Box Horizontal Start -->
                                            <div class="product-box product-box--3 variable-product product-box--horizontal">
                                                <div class="product-box__left">
                                                    <div class="product-box__image">
                                                        <img src="assets/img/printed-summer-dress-13.jpg" alt="product image" class="primary_image">
                                                        <img src="assets/img/printed-summer-dress-14.jpg" alt="product image" class="secondary_image">
                                                        <a href="" data-toggle="modal" data-target="#productModal" class="quick-view"> <i class="fa fa-eye"></i> </a>
                                                    </div>
                                                </div>
                                                <div class="product-box__right">
                                                    <div class="product-box__desc">
                                                        <a href="shop.html" class="product-box__category">manufacturer</a>
                                                        <a href="single-product.html" class="product-box__title">Printed Summer Dress</a>
                                                        <p class="product-box__price">
                                                            <span class="sale-price">&dollar;17.43</span>
                                                        </p>
                                                        <a href="cart.html" class="btn add-to-cart btn-style-7">Add to cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Best Seller Product Box Horizontal End -->

                                            <!-- Best Seller Product Box Horizontal Start -->
                                            <div class="product-box product-box--3 variable-product product-box--horizontal">
                                                <div class="product-box__left">
                                                    <div class="product-box__image">
                                                        <img src="assets/img/printed-summer-dress-15.jpg" alt="product image" class="primary_image">
                                                        <img src="assets/img/printed-summer-dress-16.jpg" alt="product image" class="secondary_image">
                                                        <a href="" data-toggle="modal" data-target="#productModal" class="quick-view"> <i class="fa fa-eye"></i> </a>
                                                    </div>
                                                </div>
                                                <div class="product-box__right">
                                                    <div class="product-box__desc">
                                                        <a href="shop.html" class="product-box__category">manufacturer</a>
                                                        <a href="single-product.html" class="product-box__title">Printed Summer Dress</a>
                                                        <p class="product-box__price">
                                                            <span class="sale-price">&dollar;17.43</span>
                                                        </p>
                                                        <a href="cart.html" class="btn add-to-cart btn-style-7">Add to cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Best Seller Product Box Horizontal End -->

                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane produtct-combo-tab__pane fade" id="best-seller" role="tabpanel" aria-labelledby="best-seller-tab">
                                    <div class="best-seller-product__carousel best-seller-product__carousel--3 owl-carousel js-best-seller-carousel">
                                        <div class="best-seller-product__group">
                                            <!-- Best Seller Product Box Horizontal Start -->
                                            <div class="product-box product-box--3 variable-product product-box--horizontal">
                                                <div class="product-box__left">
                                                    <div class="product-box__image">
                                                        <img src="assets/img/printed-summer-dress.jpg" alt="product image" class="primary_image">
                                                        <img src="assets/img/printed-summer-dress-1.jpg" alt="product image" class="secondary_image">
                                                        <a href="" data-toggle="modal" data-target="#productModal" class="quick-view"> <i class="fa fa-eye"></i> </a>
                                                    </div>
                                                </div>
                                                <div class="product-box__right">
                                                    <div class="product-box__desc">
                                                        <a href="shop.html" class="product-box__category">manufacturer</a>
                                                        <a href="single-product.html" class="product-box__title">Printed Summer Dress</a>
                                                        <p class="product-box__price">
                                                            <span class="sale-price">&dollar;17.43</span>
                                                        </p>
                                                        <a href="cart.html" class="btn add-to-cart btn-style-7">Add to cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Best Seller Product Box Horizontal End -->

                                            <!-- Best Seller Product Box Horizontal Start -->
                                            <div class="product-box product-box--3 variable-product product-box--horizontal">
                                                <div class="product-box__left">
                                                    <div class="product-box__image">
                                                        <img src="assets/img/printed-summer-dress-2.jpg" alt="product image" class="primary_image">
                                                        <img src="assets/img/printed-summer-dress-3.jpg" alt="product image" class="secondary_image">
                                                        <a href="" data-toggle="modal" data-target="#productModal" class="quick-view"> <i class="fa fa-eye"></i> </a>
                                                    </div>
                                                </div>
                                                <div class="product-box__right">
                                                    <div class="product-box__desc">
                                                        <a href="shop.html" class="product-box__category">manufacturer</a>
                                                        <a href="single-product.html" class="product-box__title">Printed Summer Dress</a>
                                                        <p class="product-box__price">
                                                            <span class="sale-price">&dollar;17.43</span>
                                                        </p>
                                                        <a href="cart.html" class="btn add-to-cart btn-style-7">Add to cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Best Seller Product Box Horizontal End -->

                                            <!-- Best Seller Product Box Horizontal Start -->
                                            <div class="product-box product-box--3 variable-product product-box--horizontal">
                                                <div class="product-box__left">
                                                    <div class="product-box__image">
                                                        <img src="assets/img/printed-summer-dress-4.jpg" alt="product image" class="primary_image">
                                                        <img src="assets/img/printed-summer-dress-5.jpg" alt="product image" class="secondary_image">
                                                        <a href="" data-toggle="modal" data-target="#productModal" class="quick-view"> <i class="fa fa-eye"></i> </a>
                                                    </div>
                                                </div>
                                                <div class="product-box__right">
                                                    <div class="product-box__desc">
                                                        <a href="shop.html" class="product-box__category">manufacturer</a>
                                                        <a href="single-product.html" class="product-box__title">Printed Summer Dress</a>
                                                        <p class="product-box__price">
                                                            <span class="sale-price">&dollar;17.43</span>
                                                        </p>
                                                        <a href="cart.html" class="btn add-to-cart btn-style-7">Add to cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Best Seller Product Box Horizontal End -->

                                        </div>
                                        <div class="best-seller-product__group">
                                            <!-- Best Seller Product Box Horizontal Start -->
                                            <div class="product-box product-box--3 variable-product product-box--horizontal">
                                                <div class="product-box__left">
                                                    <div class="product-box__image">
                                                        <img src="assets/img/printed-summer-dress-6.jpg" alt="product image" class="primary_image">
                                                        <img src="assets/img/printed-summer-dress-7.jpg" alt="product image" class="secondary_image">
                                                        <a href="" data-toggle="modal" data-target="#productModal" class="quick-view"> <i class="fa fa-eye"></i> </a>
                                                    </div>
                                                </div>
                                                <div class="product-box__right">
                                                    <div class="product-box__desc">
                                                        <a href="shop.html" class="product-box__category">manufacturer</a>
                                                        <a href="single-product.html" class="product-box__title">Printed Summer Dress</a>
                                                        <p class="product-box__price">
                                                            <span class="sale-price">&dollar;17.43</span>
                                                        </p>
                                                        <a href="cart.html" class="btn add-to-cart btn-style-7">Add to cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Best Seller Product Box Horizontal End -->

                                            <!-- Best Seller Product Box Horizontal Start -->
                                            <div class="product-box product-box--3 variable-product product-box--horizontal">
                                                <div class="product-box__left">
                                                    <div class="product-box__image">
                                                        <img src="assets/img/printed-summer-dress-7.jpg" alt="product image" class="primary_image">
                                                        <img src="assets/img/printed-summer-dress-8.jpg" alt="product image" class="secondary_image">
                                                        <a href="" data-toggle="modal" data-target="#productModal" class="quick-view"> <i class="fa fa-eye"></i> </a>
                                                    </div>
                                                </div>
                                                <div class="product-box__right">
                                                    <div class="product-box__desc">
                                                        <a href="shop.html" class="product-box__category">manufacturer</a>
                                                        <a href="single-product.html" class="product-box__title">Printed Summer Dress</a>
                                                        <p class="product-box__price">
                                                            <span class="sale-price">&dollar;17.43</span>
                                                        </p>
                                                        <a href="cart.html" class="btn add-to-cart btn-style-7">Add to cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Best Seller Product Box Horizontal End -->

                                            <!-- Best Seller Product Box Horizontal Start -->
                                            <div class="product-box product-box--3 variable-product product-box--horizontal">
                                                <div class="product-box__left">
                                                    <div class="product-box__image">
                                                        <img src="assets/img/printed-summer-dress-9.jpg" alt="product image" class="primary_image">
                                                        <img src="assets/img/printed-summer-dress-10.jpg" alt="product image" class="secondary_image">
                                                        <a href="" data-toggle="modal" data-target="#productModal" class="quick-view"> <i class="fa fa-eye"></i> </a>
                                                    </div>
                                                </div>
                                                <div class="product-box__right">
                                                    <div class="product-box__desc">
                                                        <a href="shop.html" class="product-box__category">manufacturer</a>
                                                        <a href="single-product.html" class="product-box__title">Printed Summer Dress</a>
                                                        <p class="product-box__price">
                                                            <span class="sale-price">&dollar;17.43</span>
                                                        </p>
                                                        <a href="cart.html" class="btn add-to-cart btn-style-7">Add to cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Best Seller Product Box Horizontal End -->

                                        </div>
                                        <div class="best-seller-product__group">
                                            <!-- Best Seller Product Box Horizontal Start -->
                                            <div class="product-box product-box--3 variable-product product-box--horizontal">
                                                <div class="product-box__left">
                                                    <div class="product-box__image">
                                                        <img src="assets/img/printed-summer-dress-11.jpg" alt="product image" class="primary_image">
                                                        <img src="assets/img/printed-summer-dress-12.jpg" alt="product image" class="secondary_image">
                                                        <a href="" data-toggle="modal" data-target="#productModal" class="quick-view"> <i class="fa fa-eye"></i> </a>
                                                    </div>
                                                </div>
                                                <div class="product-box__right">
                                                    <div class="product-box__desc">
                                                        <a href="shop.html" class="product-box__category">manufacturer</a>
                                                        <a href="single-product.html" class="product-box__title">Printed Summer Dress</a>
                                                        <p class="product-box__price">
                                                            <span class="sale-price">&dollar;17.43</span>
                                                        </p>
                                                        <a href="cart.html" class="btn add-to-cart btn-style-7">Add to cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Best Seller Product Box Horizontal End -->

                                            <!-- Best Seller Product Box Horizontal Start -->
                                            <div class="product-box product-box--3 variable-product product-box--horizontal">
                                                <div class="product-box__left">
                                                    <div class="product-box__image">
                                                        <img src="assets/img/printed-summer-dress-13.jpg" alt="product image" class="primary_image">
                                                        <img src="assets/img/printed-summer-dress-14.jpg" alt="product image" class="secondary_image">
                                                        <a href="" data-toggle="modal" data-target="#productModal" class="quick-view"> <i class="fa fa-eye"></i> </a>
                                                    </div>
                                                </div>
                                                <div class="product-box__right">
                                                    <div class="product-box__desc">
                                                        <a href="shop.html" class="product-box__category">manufacturer</a>
                                                        <a href="single-product.html" class="product-box__title">Printed Summer Dress</a>
                                                        <p class="product-box__price">
                                                            <span class="sale-price">&dollar;17.43</span>
                                                        </p>
                                                        <a href="cart.html" class="btn add-to-cart btn-style-7">Add to cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Best Seller Product Box Horizontal End -->

                                            <!-- Best Seller Product Box Horizontal Start -->
                                            <div class="product-box product-box--3 variable-product product-box--horizontal">
                                                <div class="product-box__left">
                                                    <div class="product-box__image">
                                                        <img src="assets/img/printed-summer-dress-15.jpg" alt="product image" class="primary_image">
                                                        <img src="assets/img/printed-summer-dress-16.jpg" alt="product image" class="secondary_image">
                                                        <a href="" data-toggle="modal" data-target="#productModal" class="quick-view"> <i class="fa fa-eye"></i> </a>
                                                    </div>
                                                </div>
                                                <div class="product-box__right">
                                                    <div class="product-box__desc">
                                                        <a href="shop.html" class="product-box__category">manufacturer</a>
                                                        <a href="single-product.html" class="product-box__title">Printed Summer Dress</a>
                                                        <p class="product-box__price">
                                                            <span class="sale-price">&dollar;17.43</span>
                                                        </p>
                                                        <a href="cart.html" class="btn add-to-cart btn-style-7">Add to cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Best Seller Product Box Horizontal End -->

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}
