{% trans_default_domain 'FOSUserBundle' %}

<div class="product-features">
    <ul class="data-sheet">
        <li><h4>{{ 'profile.show.username'|trans }}: {{ user.username }}</h4></li>
        <li><h4>{{ 'profile.show.email'|trans }}: {{ user.email }}</h4></li>
    </ul>
</div>
