        <!-- Page Header Start -->
        <section class="page-header">
            <h2 class="page-title color--white">Свяжитесь с нами</h2>
        </section>
        <!-- Page Header End -->

        <!-- Breadcumb area Start -->
        <div class="breadcumb-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="breadcumb">
                            <li class="breadcumb__list"><a class="breadcumb__link" href="">Главная страница</a></li>
                            <li class="breadcumb__list"><a class="breadcumb__link current" href="contact-us.html">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcumb area End -->

        <!-- Main content wrapper Start -->

        <div class="main-content-wrapper">
            <!-- Contact Us area Start -->    
            <section class="contact-area section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-4">
                            <div class="store-info">
                                <h4>STORE INFORMATION</h4>
                                <div class="store-info__item">
                                    <i class="fa fa-map-marker"></i>
                                    <div class="store-info__data">
                                        <p>Kobe - Responsive Prestashop Theme <br> United States</p>
                                    </div>
                                </div>
                                <div class="store-info__item">
                                    <i class="fa fa-phone"></i>
                                    <div class="store-info__data">
                                        <p>Call Us: <br> <a href="tel:+123.456.789">+123.456.789</a></p>
                                    </div>
                                </div>
                                <div class="store-info__item">
                                    <i class="fa fa-envelope"></i>
                                    <div class="store-info__data">
                                        <p>Email Us: <br> <a href="mailto:demo@posthemes.com">demo@posthemes.com</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-8">
                            <div class="form-box">
                                <div class="section-title">
                                    <h2>Contact Us</h2>
                                </div>
                                <form class="form form--contact" id="contact-form" action="mail.php" method="post">
                                    <div class="form__group row">
                                        <label for="contact_name" class="col-lg-3 col-12 form__label text-lg-right">Name</label>
                                        <div class="col-lg-7 col-12">
                                            <input type="text" name="contact_name" id="contact_name" class="form__input">
                                        </div>
                                    </div>
                                    <div class="form__group row">
                                        <label for="contact_email" class="col-lg-3 col-12 form__label text-lg-right">Email Address</label>
                                        <div class="col-lg-7 col-12">
                                            <input type="email" name="contact_email" id="contact_email" class="form__input">
                                        </div>
                                    </div>
                                    <div class="form__group row">
                                        <label for="contact_subject" class="col-lg-3 col-12 form__label text-lg-right">Subject</label>
                                        <div class="col-lg-7 col-12">
                                            <input type="text" name="contact_subject" id="contact_subject" class="form__input">
                                        </div>
                                    </div>
                                    <div class="form__group row">
                                        <label for="contact_message" class="col-lg-3 col-12 form__label text-lg-right">Message</label>
                                        <div class="col-lg-9">
                                            <textarea id="contact_message" name="contact_message" class="form__input form__input--textarea"></textarea>
                                        </div>
                                    </div>
                                    <div class="form__group text-right">
                                        <button type="submit" class="btn btn--small btn-style-3">Submit</button>
                                    </div>

                                    <div class="form__output">
                                        <p class="form__messege"></p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>    
            <!-- Contact Us area End -->
        </div>

        <!-- Main content wrapper End -->

        <!-- Clients area Start -->
        <div class="clients-area pt--40 pb--80">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="client-carousel owl-carousel">
                            <div class="single-client">
                                <img src="assets/img/1.jpg" alt="client">
                            </div>
                            <div class="single-client">
                                <img src="assets/img/2.jpg" alt="client">
                            </div>
                            <div class="single-client">
                                <img src="assets/img/3.jpg" alt="client">
                            </div>
                            <div class="single-client">
                                <img src="assets/img/4.jpg" alt="client">
                            </div>
                            <div class="single-client">
                                <img src="assets/img/5.jpg" alt="client">
                            </div>
                            <div class="single-client">
                                <img src="assets/img/6.jpg" alt="client">
                            </div>
                            <div class="single-client">
                                <img src="assets/img/4.jpg" alt="client">
                            </div>
                            <div class="single-client">
                                <img src="assets/img/5.jpg" alt="client">
                            </div>
                            <div class="single-client">
                                <img src="assets/img/6.jpg" alt="client">
                            </div>
                            <div class="single-client">
                                <img src="assets/img/4.jpg" alt="client">
                            </div>
                            <div class="single-client">
                                <img src="assets/img/5.jpg" alt="client">
                            </div>
                            <div class="single-client">
                                <img src="assets/img/6.jpg" alt="client">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Clients area End -->
        

        <!-- Footer area Start -->
        <footer class="footer footer--1">
            <div class="footer-top">
                <div class="container">
                    <div class="row pb--30 footer-method-box-row">
                        <!-- Method Box Start -->
                        <div class="col-md-3">
                            <div class="method-box">
                                <div class="method-box__icon">
                                    <i class="fa fa-paper-plane-o"></i>
                                </div>
                                <div class="method-box__content">
                                    <h4>Free Delivery</h4>
                                    <p>On Orders Of $200+</p>
                                </div>
                            </div>
                        </div>
                        <!-- Method Box End -->

                        <!-- Method Box Start -->
                        <div class="col-md-3">
                            <div class="method-box">
                                <div class="method-box__icon">
                                    <i class="fa fa-credit-card"></i>
                                </div>
                                <div class="method-box__content">
                                    <h4>Cod</h4>
                                    <p>Cash On Delivery</p>
                                </div>
                            </div>
                        </div>
                        <!-- Method Box End -->

                        <!-- Method Box Start -->
                        <div class="col-md-3">
                            <div class="method-box">
                                <div class="method-box__icon">
                                    <i class="fa fa-gift"></i>
                                </div>
                                <div class="method-box__content">
                                    <h4>Free Gift Box</h4>
                                    <p>Buy A Gift</p>
                                </div>
                            </div>
                        </div>
                        <!-- Method Box End -->

                        <!-- Method Box Start -->
                        <div class="col-md-3">
                            <div class="method-box">
                                <div class="method-box__icon">
                                    <i class="fa fa-support"></i>
                                </div>
                                <div class="method-box__content">
                                    <h4>Free Support 24/7</h4>
                                    <p>Online 24hrs A Day</p>
                                </div>
                            </div>
                        </div>
                        <!-- Method Box End -->

                    </div>
                    <div class="row">
                        <div class="col-12">
                            <hr class="line">
                        </div>
                    </div>
                    <div class="row ptb--30 justify-content-center">
                        <div class="col-xl-9 col-md-8">
                            <!-- Newsletter Form Start -->
                            <div class="newsletter">
                                <p class="newsletter__desc text-center mb--30">
                                    Trade Alert - Delivering the latest product trends and industry news straight to your inbox. We’ll never share your email address with a third-party.
                                </p>
                                <form action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&id=05d85f18ef" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="newsletter-form popup-subscribe-form validate" target="_blank" novalidate="">
                                    <div class="newsletter-form__group">
                                        <input type="email" name="email" id="email" class="newsletter-form__input" placeholder="Your Email Address">
                                        <button type="submit" class="newsletter-form__btn form-btn">
                                            <i class="fa fa-envelope"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <!-- Newsletter Form End -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <hr class="line">
                        </div>
                    </div>
                    <div class="row ptb--30 footer-widget-row">
                        <!-- Footer Widget Start -->
                        <div class="col-lg-4">
                            <div class="footer-widget">
                                <h3 class="widget-title">Contact Us</h3>
                                <div class="address-widget">
                                    <p><i class="fa fa-map-marker"></i> The Barn, Ullenhall, Henley-in-Arden B578 5CC, England</p>
                                    <p><i class="fa fa-phone"></i> +123.456.789 +123.456.678</p>
                                    <p><i class="fa fa-phone"></i> <a href="mailo:demo@posthemes.com">demo@posthemes.com</a></p>
                                </div>
                                <ul class="social borderd-social mt--20">
                                    <li class="social__item"><a href="http://demo.devitems.com/kobe-preview/kobe/facebook.com" class="social__link"><i class="fa fa-facebook"></i></a></li>
                                    <li class="social__item"><a href="http://demo.devitems.com/kobe-preview/kobe/twitter.com" class="social__link"><i class="fa fa-twitter"></i></a></li>
                                    <li class="social__item"><a href="http://demo.devitems.com/kobe-preview/kobe/youtube.com" class="social__link"><i class="fa fa-youtube"></i></a></li>
                                    <li class="social__item"><a href="http://demo.devitems.com/kobe-preview/kobe/plus.google.com" class="social__link"><i class="fa fa-google-plus"></i></a></li>
                                    <li class="social__item"><a href="http://demo.devitems.com/kobe-preview/kobe/instagram.com" class="social__link"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Footer Widget End -->

                        <!-- Footer Widget Start -->
                        <div class="col-lg-3 col-md-4">
                            <div class="footer-widget">
                                <h3 class="widget-title">Products</h3>
                                <div class="menu-widget">
                                    <ul>
                                        <li><a href="on-sale.html">Prices Drop</a></li>
                                        <li><a href="new-products.html">New Products</a></li>
                                        <li><a href="stores.html">Stores</a></li>
                                        <li><a href="best-sales.html">Best Sales</a></li>
                                        <li><a href="login.html">Login</a></li>
                                        <li><a href="my-account.html">My Account</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Footer Widget End -->

                        <!-- Footer Widget Start -->
                        <div class="col-lg-3 col-md-4">
                            <div class="footer-widget">
                                <h3 class="widget-title">Our Company</h3>
                                <div class="menu-widget">
                                    <ul>
                                        <li><a href="legal-notice.html">Legal Notice</a></li>
                                        <li><a href="terms-and-conditions.html">Terms And Conditions Of Use</a></li>
                                        <li><a href="about-us.html">About Us</a></li>
                                        <li><a href="payment.html">Secure Payment</a></li>
                                        <li><a href="terms-and-conditions.html">Delivery</a></li>
                                        <li><a href="contact-us.html">Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Footer Widget End -->

                        <!-- Footer Widget Start -->
                        <div class="col-lg-2 col-md-4">
                            <div class="footer-widget">
                                <h3 class="widget-title">Your Account</h3>
                                <div class="menu-widget">
                                    <ul>
                                        <li><a href="my-account.html">Addresses</a></li>
                                        <li><a href="my-account.html">Credit Slips</a></li>
                                        <li><a href="my-account.html">Orders</a></li>
                                        <li><a href="my-account.html">Personal Info</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Footer Widget End -->

                    </div>
                    <div class="row">
                        <div class="col-12">
                            <hr class="line">
                        </div>
                    </div>
                    <div class="row ptb--30">
                        <div class="col-12 text-center">
                            <ul class="footer-menu">
                                <li class="footer-menu__item"><a href="" class="footer-menu__link">Online Shopping</a></li>
                                <li class="footer-menu__item"><a href="" class="footer-menu__link">Promotions</a></li>
                                <li class="footer-menu__item"><a href="" class="footer-menu__link">My Orders</a></li>
                                <li class="footer-menu__item"><a href="" class="footer-menu__link">Service</a></li>
                                <li class="footer-menu__item"><a href="" class="footer-menu__link">Support</a></li>
                                <li class="footer-menu__item"><a href="" class="footer-menu__link">Most Populars</a></li>
                                <li class="footer-menu__item"><a href="" class="footer-menu__link">New Arrivals</a></li>
                                <li class="footer-menu__item"><a href="" class="footer-menu__link">Special Products</a></li>
                                <li class="footer-menu__item"><a href="" class="footer-menu__link">Manufacturers</a></li>
                                <li class="footer-menu__item"><a href="" class="footer-menu__link">Our Stores</a></li>
                                <li class="footer-menu__item"><a href="" class="footer-menu__link">Shipping</a></li>
                                <li class="footer-menu__item"><a href="" class="footer-menu__link">Payments</a></li>
                                <li class="footer-menu__item"><a href="" class="footer-menu__link">Warantee</a></li>
                                <li class="footer-menu__item"><a href="" class="footer-menu__link">Refunds</a></li>
                                <li class="footer-menu__item"><a href="" class="footer-menu__link">Checkout</a></li>
                                <li class="footer-menu__item"><a href="" class="footer-menu__link">Discount</a></li>
                                <li class="footer-menu__item"><a href="" class="footer-menu__link">Terms &amp; Conditions</a></li>
                                <li class="footer-menu__item"><a href="" class="footer-menu__link">Policy</a></li>
                                <li class="footer-menu__item"><a href="" class="footer-menu__link">Policy</a></li>
                                <li class="footer-menu__item"><a href="" class="footer-menu__link">Shipping</a></li>
                                <li class="footer-menu__item"><a href="" class="footer-menu__link">Payments</a></li>
                                <li class="footer-menu__item"><a href="" class="footer-menu__link">Warantee</a></li>
                                <li class="footer-menu__item"><a href="" class="footer-menu__link">Refunds</a></li>
                            </ul>
                            <div class="payment">
                                <img src="assets/img/payment.png" alt="payment">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center">
                            <!-- Copyright Text Start -->
                            <p class="copyright-text">
                                Copyright <a href="">kobe</a>. All rights reserved
                            </p>
                            <!-- Copyright Text End -->
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer area End -->
        
    </div>

    <!-- Main Wrapper End -->



    <!-- Scroll To Top -->
    
    <a class="scroll-to-top" href=""><i class="fa fa-angle-double-up"></i></a>





    <!-- ************************* JS ************************* -->

    <!-- jQuery JS -->
    <script src="assets/js/vendor/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="assets/js/popper.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugins JS -->
    <script src="assets/js/plugins.js"></script>

    <!-- Main JS -->
    <script src="assets/js/main.js"></script>

</body>
</html>