{% extends 'base.html.twig' %}

{% block title %}Юридическая информация{% endblock %}

{% block body %}

    <div class="breadcumb-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="breadcumb">
                        <li class="breadcumb__list"><a class="breadcumb__link" href="index.html">Главная</a></li>
                        <li class="breadcumb__list"><a class="breadcumb__link current" href="legal-notice.html">Юридическая
                                информация</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <section class="main-content-wrapper">
        <div class="page-inner section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title">
                            <h2>Legal Notice</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="text-block">
                            <h3 class="mb--20">Legal</h3>
                            <h4 class="mb--20">Credits</h4>
                            <p>Concept and production:</p>

                            <p>This Online store was created using <strong>Prestashop Shopping Cart Software</strong>,check
                                out <strong>PrestaShop's ecommerce blog</strong> for news and advices about selling
                                online and running your ecommerce website.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
