{% extends 'base.html.twig' %}

{% block title %}Условия использования{% endblock %}

{% block body %}
    <section class="page-header">
        <h2 class="page-title color--white">Terms And Conditions</h2>
    </section>
    <div class="breadcumb-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="breadcumb">
                        <li class="breadcumb__list"><a class="breadcumb__link" href="index.html">Главная</a></li>
                        <li class="breadcumb__list"><a class="breadcumb__link current" href="terms-and-conditions.html">Условие использования</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <section class="main-content-wrapper">
        <div class="page-inner section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title">
                            <h2>Terms And Conditions</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="text-block">
                            <h3 class="mb--20">Rule 1</h3>
                            <p class="mb--30">It’s up to you to set the rules and guidelines that the user must agree to. You can think of your Terms and Conditions agreement as the legal agreement where you maintain your rights to exclude users from your app in the event that they abuse your app, and where you maintain your <strong>legal rights</strong> against potential app abusers, and so on.</p>
                            <h3 class="mb--20">Rule 2</h3>
                            <p class="mb--30">It’s up to you to set the rules and guidelines that the user must agree to. You can think of your Terms and Conditions agreement as the legal agreement where you maintain your rights to exclude users from your app in the event that they abuse your app, and where you maintain your legal rights against potential app abusers, and so on.</p>
                            <h3 class="mb--20">Rule 3</h3>
                            <p>It’s up to you to set the rules and <a href="">guidelines</a> that the user must agree to. You can think of your Terms and Conditions agreement as the legal agreement where you maintain your rights to exclude users from your app in the event that they abuse your app, and where you maintain your legal rights against potential app abusers, and so on.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
