{% extends 'base.html.twig' %}
{% block title %} Спасибо за заказ {% endblock %}

{% block body %}
    <h1>Спасибо за заказ. Мы обязательно с вами свяжемся</h1>

    <p><a href="{{ path('MainPage') }}">Продолжить покупки</a></p>
{% endblock %}

